<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Processing/src/edu/nyu/cs/fb1258/processing_examples/basics/CircleOscillator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.nyu.cs.fb1258.processing_examples.basics.CircleOscillator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Processing"/>
</launchConfiguration>
